html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
footer div{
    text-align: center;
    vertical-align: center;
    color: aqua;
    font-style: italic;
    font-weight: bold;
    background: #228b2230;
    position: absolute;
    width: 100%;
}